main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-intro{
    grid-column: 1 / -1;
    height: 85vh;
    background-image: url(../images/desktop/image-header.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    box-sizing: content-box;
    border-top: 80px solid #3EBFFF;
    position: relative;
    order: -1;
    position: relative;
}

.arrowdown{
    width: 36px;
    position: absolute;
    left: 50%;
    top: 150px;

    animation-name: arrowDown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes arrowDown{
    0%{
        top: 150px;
    }

    100%{
        top: 180px;
    }

}

.home-intro h1{
    text-align: center;
}

.section-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 60px;
    padding-left: 140px;
}

main .section-text:nth-child(5){
    padding-left: 100px;
}

.section-text h1{
    max-width: 12ch;
}

main .section-text:nth-child(5) h1{
    max-width: 17ch;
}

.section-text p{
    max-width: 44ch;
}

.section-text a{
    padding: 0px 8px;
    position: relative;
}

.section-text a::after{
    content:'';
    display: inline-block;
    height: 8px;
    width: 158px;
    background-color: #F6EAB1;
    border-radius: 4px;
    position: absolute;
    top: 18px;
    left: 0;
    z-index: -1;
}

main .section-text:nth-child(odd) a::after{
    background-color: #FFDAD2;
}

.section-image img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.text-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 360px;
    padding-bottom: 60px;
    gap: 40px;
}

.text-background p{
    max-width: 40ch;
}

.text-background:nth-child(6),
.text-background:nth-child(7){
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-background:nth-child(7){
    background-image: url(../images/desktop/image-photography.jpg);
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


@media (max-width: 900px){
    main{
        grid-template-columns: 1fr;
    }

    .section-text,
    main .section-text:nth-child(5){
        padding: 40px;
        align-items: center;
        text-align: center;
    }

    .section-image:nth-child(odd){
        order: -1;
    }

    .gallery{
        grid-template-columns: 1fr 1fr;
    }

}