:root{
    --c-0: hsl(0, 0%, 100%);
    --c-1: hsl(210, 4%, 67%);
    --c-2: hsl(232, 10%, 55%);
    --c-3: hsl(213, 9%, 39%);
    --c-4: hsl(212, 27%, 19%);

    --footer: hsl(168, 34%, 41%);
    --graphic: hsl(167, 40%, 24%);
    --photography: hsl(198, 62%, 26%);
    --c-p1: hsl(51, 100%, 49%);
    --c-p2: hsl(7, 99%, 70%);
    --body: #FFFBF8;
}

.body-bg{
    background-color: var(--body);
}

.footer-bg{
    background-color: var(--footer);
}

.c-p1{
    color:var(--c-p1);
}

.c-p2{
    color:var(--c-p2);
}

.c-0{
    color: var(--c-0);
}

.c-1{
    color: var(--c-1);
}

.c-2{
    color: var(--c-2); 
}

.c-3{
    color: var(--c-3);
}

.c-4{
    color: var(--c-4);
}